
header{
    height: 50vh;
    border-bottom: blue 2px solid;
    display: flex;
}
.circle-fill{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 10%;
    justify-content: space-between;

}

.header2{
    width: 35%;
    margin-top: 10px;
}
.rounded-circle{
    height: 200px;
}
.dots {
    width:300px;
    height:200px;
    padding:60px 70px;
    box-sizing:border-box;
    background:
    linear-gradient(#fff,#fff) 68px 50px/calc(100% - 136px) calc(100% - 100px) no-repeat,
    radial-gradient(circle at 12px 12px,#000 20%, transparent 22%) 12px 2px/33px 50px,
    radial-gradient(circle at 12px 12px,#000 20%, transparent 22%) 33px 27px/33px 50px;
}